{% extends "homebase.html" %}
{% load static %}
{% block title %} {{setting.title}}-About US- {% endblock %}
{% block description %} {{setting.description}} {% endblock %}
{% block keywords %} {{setting.keywords}} {% endblock %}

{% block body %}
<!-- header end -->
<div class="breadcrumb-area pt-205 pb-210" style="background-image: url({% static '' %}assets/img/bg/breadcrumb.jpg)">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li><a href="#">home</a></li>
                <li> blog</li>
            </ul>
        </div>
    </div>
</div>
<!-- shopping-cart-area start -->
<div class="blog-area pt-95 pb-100">
    <div class="container">
        <div class="row">
            {% include "sidebar-blog.html" %}
            <div class="col-lg-8">
                <div class="blog-mesonry">
                    <div class="row grid">
                        {% if messages %}
                            <ul class="messages">
                                {% for k in messages %}
                                    <li style="color: red">{{ k }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        {% if sr %}
                        {% for k in sr %}
                        <div class="col-lg-6 col-md-6 grid-item">
                            <div class="blog-wrapper mb-40">
                                <div class="blog-img">
                                    <a href="{{ k.get_absolute_url }}"><img src="{{k.thumbnails.url}}" height="300px" width="200px" overflow="hidden" alt=""></a>
                                </div>
                                <div class="blog-info-wrapper">
                                    <div class="blog-meta">
                                        <ul>
                                            <li><a href="{{ k.get_absolute_url }}"><img src="{{ k.author.profile_picture.url }}" height="30px" width="30px" overflow="hidden" style="border-radius: 40px"></a></li>
                                            <li>{{ k.publish }} <b>by {{ k.author.user.username }}</b></li>
                                            {% for k in k.blog_categories.all %}
                                            <li><a>{{ k }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <h4><a href="{{	k.get_absolute_url	}}">{{ k.title }}</a></h4>
                                    <p>{{ k.overview|truncatewords:10|linebreaks }}</p>
                                    <a class="blog-btn btn-hover" href="">Read More</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    {% include "pagination.html" %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- shopping-cart-area end -->
{% endblock %}