{% extends "homebase.html" %}
{% load static %}
{% block title %} {{setting.title}}-{{    post.title    }}- {% endblock %}
{% block description %} {{setting.description}} {% endblock %}
{% block keywords %} {{setting.keywords}} {% endblock %}

{% block body %}
<!-- header end -->
<div class="breadcrumb-area pt-205 pb-210" style="background-image: url({% static '' %}assets/img/bg/breadcrumb.jpg)">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li><a href="#">home</a></li>
                <li>{{ post.title }}</li>
            </ul>
        </div>
    </div>
</div>
<!-- shopping-cart-area start -->
<div class="blog-details pt-95 pb-100">
    <div class="container">
        <div class="row">
            {% include "sidebar-blog.html" %}
            <div class="col-lg-8">
                <div class="blog-details-info">
                    <div class="blog-meta">
                        <ul>
                            <li><a><img src="{{ post.author.profile_picture.url }}" height="30px" width="30px" overflow="hidden" style="border-radius: 40px"></a></li>
                            <li>{{ post.publish }} <b>by {{ post.author }}</b></li>
                            {% for post in post.blog_categories.all %}
                                <li><a>{{ post }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <h3>{{ post.title }}</h3>
                    <img src="{{post.thumbnails.url}}" height="500px" alt="">
                    <p>{{ post.overview|truncatewords:10|linebreaks }}</p>
                    <div class="blog-feature">
                        <h3>Full Detail</h3>
                        <p>{{ post.overview|linebreaks }}</p>
                    </div>
                </div>

                {% if new_comment %}
                <h2>Your comment has been added.</h2>
                {% else %}
                <div class="leave-area">
                    <h4 class="blog-details-title">Leave your thought</h4>
                    <form action="." method="post">
                        {%	csrf_token	%}
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="leave-form mb-20">
                                            <input name="name" placeholder="Name *" type="text">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="leave-form mb-20">
                                            <input name="email" placeholder="Email *" type="email">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="text-leave">
                                    <textarea name="comment" placeholder="Comment*"></textarea>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="leave-btn">
                                    <button class="submit btn-hover" type="submit" value="Add comment><i class="pe-7s-mail"></i> Send
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                {% endif %}

                <div class="blog-replay-wrapper">
                    {% with comments.count as total_comments %}
                    <h4 class="blog-details-title2">HAVE {{ total_comments }} COMMENT{{ total_comments|pluralize }}</h4>
                    {% endwith %}

                    {% for comment in comments %}
                    <div class="single-blog-replay">
                        <div class="replay-info">
                            <div class="replay-name-date">
                                <h5>{{ comment.name }}</h5>
                                <span>{{ comment.created }}</span>
                            </div>
                        </div>
                        <p>{{ comment.comment|linebreaks }}</p>
                    </div>
                    {% empty %}
                    <div class="blog-replay-wrapper">
                        <div class="product-description-review-area pb-90">
                            <div class="container">
                                <div class="product-description-review text-center">
                                    <div class="description-review-title nav" role=tablist>
                                        <a class="active" data-toggle="tab" role="tab" aria-selected="true">
                                            Reviews (0)
                                        </a>
                                    </div>
                                    <div class="description-review-text tab-content">
                                        <div class="tab-pane active show fade" id="pro-review" role="tabpanel">
                                            <a href="#">Be the first to write your review!</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</div>
<!-- shopping-cart-area end -->

{% endblock %}