{% extends "homebase.html" %}
{% load static %}
{% block title %} {{setting.title}}-{{	post.title	}}- {% endblock %}
{% block description %} {{setting.description}} {% endblock %}
{% block keywords %} {{setting.keywords}} {% endblock %}

{% block body %}
<!-- header end -->
<div class="breadcrumb-area pt-205 pb-210" style="background-image: url(assets/img/bg/breadcrumb.jpg)">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li><a href="#">home</a></li>
                <li>{{	post.title	}}</li>
            </ul>
        </div>
    </div>
</div>
<!-- shopping-cart-area start -->
<div class="blog-details pt-95 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="shop-sidebar">
                    <div class="sidebar-widget mb-50">
                        <img src="assets/img/blog/blog-sidebar.jpg" alt="">
                        <div class="sidebar-img-content">
                            <p>On the other hand, dislike men who are so beguiled and the demoralized by the charms of
                                pleasure of the moment.</p>
                            <h4>Tayeb rayed</h4>
                            <span>UI UX Designer</span>
                            <div class="sidebar-img-social">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="icofont icofont-social-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icofont icofont-social-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icofont icofont-social-pinterest"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icofont icofont-social-flikr"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-widget mb-50">
                        <h3 class="sidebar-title">Search Products</h3>
                        <div class="sidebar-search">
                            <form action="#">
                                <input placeholder="Search Products..." type="text">
                                <button><i class="ti-search"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="sidebar-widget mb-45">
                        <h3 class="sidebar-title">Categories</h3>
                        <div class="sidebar-categories">
                            <ul>
                                <li><a href="#">Accessories <span>4</span></a></li>
                                <li><a href="#">Book <span>9</span></a></li>
                                <li><a href="#">Clothing <span>5</span> </a></li>
                                <li><a href="#">Homelife <span>3</span></a></li>
                                <li><a href="#">Kids & Baby <span>4</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="sidebar-widget mb-50">
                        <h3 class="sidebar-title">Recent Posts</h3>
                        <div class="sidebar-top-rated-all">
                            <div class="sidebar-top-rated mb-30">
                                <div class="single-top-rated">
                                    <div class="top-rated-img">
                                        <a href="#"><img src="assets/img/product/sidebar-product/1.jpg" alt=""></a>
                                    </div>
                                    <div class="top-rated-text">
                                        <h4><a href="#">Flying Drone</a></h4>
                                        <div class="top-rated-rating">
                                            <ul>
                                                <li><i class="pe-7s-star"></i></li>
                                                <li><i class="pe-7s-star"></i></li>
                                                <li><i class="pe-7s-star"></i></li>
                                                <li><i class="pe-7s-star"></i></li>
                                                <li><i class="pe-7s-star"></i></li>
                                            </ul>
                                        </div>
                                        <span>$140.00</span>
                                    </div>
                                </div>
                            </div>
                            <div class="sidebar-top-rated mb-30">
                                <div class="single-top-rated">
                                    <div class="top-rated-img">
                                        <a href="#"><img src="assets/img/product/sidebar-product/2.jpg" alt=""></a>
                                    </div>
                                    <div class="top-rated-text">
                                        <h4><a href="#">Flying Drone</a></h4>
                                        <div class="top-rated-rating">
                                            <ul>
                                                <li><i class="pe-7s-star"></i></li>
                                                <li><i class="pe-7s-star"></i></li>
                                                <li><i class="pe-7s-star"></i></li>
                                                <li><i class="pe-7s-star"></i></li>
                                                <li><i class="pe-7s-star"></i></li>
                                            </ul>
                                        </div>
                                        <span>$140.00</span>
                                    </div>
                                </div>
                            </div>
                            <div class="sidebar-top-rated mb-30">
                                <div class="single-top-rated">
                                    <div class="top-rated-img">
                                        <a href="#"><img src="assets/img/product/sidebar-product/3.jpg" alt=""></a>
                                    </div>
                                    <div class="top-rated-text">
                                        <h4><a href="#">Flying Drone</a></h4>
                                        <div class="top-rated-rating">
                                            <ul>
                                                <li><i class="pe-7s-star"></i></li>
                                                <li><i class="pe-7s-star"></i></li>
                                                <li><i class="pe-7s-star"></i></li>
                                                <li><i class="pe-7s-star"></i></li>
                                                <li><i class="pe-7s-star"></i></li>
                                            </ul>
                                        </div>
                                        <span>$140.00</span>
                                    </div>
                                </div>
                            </div>
                            <div class="sidebar-top-rated mb-30">
                                <div class="single-top-rated">
                                    <div class="top-rated-img">
                                        <a href="#"><img src="assets/img/product/sidebar-product/4.jpg" alt=""></a>
                                    </div>
                                    <div class="top-rated-text">
                                        <h4><a href="#">Flying Drone</a></h4>
                                        <div class="top-rated-rating">
                                            <ul>
                                                <li><i class="pe-7s-star"></i></li>
                                                <li><i class="pe-7s-star"></i></li>
                                                <li><i class="pe-7s-star"></i></li>
                                                <li><i class="pe-7s-star"></i></li>
                                                <li><i class="pe-7s-star"></i></li>
                                            </ul>
                                        </div>
                                        <span>$140.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-widget mb-45">
                        <h3 class="sidebar-title">Tags</h3>
                        <div class="blog-tags-style">
                            <ul>
                                <li><a href="#">Development</a></li>
                                <li><a href="#">Support</a></li>
                                <li><a href="#">Creative</a></li>
                                <li><a href="#">Design</a></li>
                                <li><a href="#">Print</a></li>
                                <li><a href="#">Adobe</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="blog-details-info">
                    <div class="blog-meta">
                        <ul>
                            <li>Fashion</li>
                            <li>{{	post.publish	}}	<b>by {{	post.author	}}</li>
                        </ul>
                    </div>
                    <h3>{{	post.title	}}</h3>
                    <img src="assets/img/blog/13.jpg" alt="">
                    <p>{{ post.body|truncatewords:30|linebreaks }}</p>
                    <div class="blog-feature">
                        <h3>Full Detail</h3>
                        <p>{{	post.body|linebreaks	}}</p>
                    </div>
                </div>
                <div class="leave-area">
                    <h4 class="blog-details-title">Leave your thought</h4>
                    <form action="#">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="leave-form mb-20">
                                            <input placeholder="Name *" type="text">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="leave-form mb-20">
                                            <input placeholder="Email *" type="email">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="leave-form mb-20">
                                            <input placeholder="Website" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="text-leave">
                                    <textarea placeholder="Comment*"></textarea>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="leave-btn">
                                    <button class="submit btn-hover" type="submit"><i class="pe-7s-mail"></i> Send
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="blog-replay-wrapper">
                    <h4 class="blog-details-title2">HAVE 2 COMMENTS</h4>
                    <div class="single-blog-replay">
                        <div class="replay-img">
                            <a href="#"><img src="assets/img/blog/14.jpg" alt=""></a>
                        </div>
                        <div class="replay-info-wrapper">
                            <div class="replay-info">
                                <div class="replay-name-date">
                                    <h5><a href="#">Tayeb rayed</a></h5>
                                    <span>July 15, 2016 at 2:39 am</span>
                                </div>
                                <div class="replay-btn">
                                    <a href="#">Reply</a>
                                </div>
                            </div>
                            <p>Exercitation photo booth stumptown tote bag Banksy, elit small batch freegan sed.</p>
                        </div>
                    </div>
                    <div class="single-blog-replay middle-blog-repley">
                        <div class="replay-img">
                            <a href="#"><img src="assets/img/blog/15.jpg" alt=""></a>
                        </div>
                        <div class="replay-info-wrapper">
                            <div class="replay-info">
                                <div class="replay-name-date">
                                    <h5><a href="#">JOHN NGUYEN</a></h5>
                                    <span>July 15, 2016 at 2:39 am</span>
                                </div>
                                <div class="replay-btn">
                                    <a href="#">Reply</a>
                                </div>
                            </div>
                            <p>Exercitation photo booth stumptown tote bag Banksy, elit small batch freegan sed.</p>
                        </div>
                    </div>
                    <div class="single-blog-replay">
                        <div class="replay-img">
                            <a href="#"><img src="assets/img/blog/16.jpg" alt=""></a>
                        </div>
                        <div class="replay-info-wrapper">
                            <div class="replay-info">
                                <div class="replay-name-date">
                                    <h5><a href="#">JOHN NGUYEN</a></h5>
                                    <span>July 15, 2016 at 2:39 am</span>
                                </div>
                                <div class="replay-btn">
                                    <a href="#">Reply</a>
                                </div>
                            </div>
                            <p>Exercitation photo booth stumptown tote bag Banksy, elit small batch freegan sed.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- shopping-cart-area end -->

{% endblock %}