{% extends "homebase.html" %}
{% load static %}
{% block title %} {{setting.title}}-About US- {% endblock %}
{% block description %} {{setting.description}} {% endblock %}
{% block keywords %} {{setting.keywords}} {% endblock %}

{% block body %}
<div class="breadcrumb-area pt-205 breadcrumb-padding pb-210"
     style="background-image: url({% static '' %}assets/img/bg/breadcrumb.jpg)">
    <div class="container-fluid">
        <div class="breadcrumb-content text-center">
            <ul>
                <li><a href="\">home</a></li>
                <li>About us</li>
            </ul>
        </div>
    </div>
</div>

<div class="about-story pt-95 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="story-details pl-50">
                    <img src="{% static '' %}assets/img/overdose/logo.jpg" alt="" height="300px" width="300px"overflow="hidden">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="story-details pl-50">
                    <div class="story-details-top">
                        <h2>WELCOME TO <span>OVERDOZE</span></h2>
                        <p>{{ setting.aboutus|safe }}</p>
                    </div>
                    <div class="story-details-bottom">
                        <h4>WE START AT 2015</h4>
                        <p>{{ setting.stared|safe }}</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="about-banner-area pb-65">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="banner-wrapper-4 mb-30">
                    <img src="{% static '' %}assets/img/overdose/c5.jpg" alt="">
                    <div class="banner-content4-style1">
                        <h4>Best <br>Ladies <br>Products.</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="banner-wrapper-4 mb-30">
                    <img src="{% static '' %}assets/img/overdose/c3.jpg" alt="">
                    <div class="banner-content4-style2">
                        <h5 class="p-left">get</h5>
                        <h2>discounts</h2>
                        <h5 class="p-right">off</h5>
                        <h3>purchases</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="banner-wrapper-4 mb-30">
                    <a><img src="{% static '' %}assets/img/overdose/c6.jpg" alt=""></a>
                    <div class="banner-content4-style3">
                        <h1>Up to <br>10% Off</h1>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="goal-area pb-65">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="goal-wrapper mb-30">
                    <h3>OUR VISSION</h3>
                    <p>{{ setting.vision|safe }}</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="goal-wrapper mb-30">
                    <h3>OUR MISSION</h3>
                    <p>{{ setting.mission|safe }}</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="goal-wrapper mb-30">
                    <h3>OUR GOAL</h3>
                    <p>{{ setting.goal|safe }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="choose-area pb-100">
    <div class="container">
        <div class="about-section">
            <h3>YOU CAN CHOOSE US BECAUSE <br>WE ALWAYS PROVIDE IMPORTANCE...</h3>
            <p>{{ setting.importance|safe }}</p>
        </div>
        <div class="row">
            <div class="col-lg-7 col-md-12">
                <div class="all-causes">
                    <div class="row">
                        <div class="col-md-6 causes-res">
                            <div class="choose-wrapper">
                                <h4>FAST DELIVERY</h4>
                                <p>{{ setting.fast_delivery|safe }}</p>
                            </div>
                            <div class="choose-wrapper">
                                <h4>SECURE PAYMENT</h4>
                                <p>{{ setting.secure_payment|safe }}</p>
                            </div>
                            <div class="choose-wrapper">
                                <h4>24/7 SUPPORT</h4>
                                <p>{{ setting.support|safe }}</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="choose-wrapper">
                                <h4>QUALITY PRODUCT</h4>
                                <p>{{ setting.quality_product|safe }}</p>
                            </div>
                            <div class="choose-wrapper">
                                <h4>MONEY BACK GUARNTEE</h4>
                                <p>{{ setting.money_back_guarntee|safe }}</p>
                            </div>
                            <div class="choose-wrapper">
                                <h4>FREE RETURN</h4>
                                <p>{{ setting.free_return|safe }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-12">
                <div class="choose-banner-wrapper f-right">
                    <img src="{% static '' %}assets/img/overdose/c4.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- testimonials area start -->
<div class="testimonials-area pt-100 pb-95 bg-img" style="background-image: url({% static '' %}assets/img/bg/7.jpg)">
    <div class="container">
        <div class="testimonials-active owl-carousel">
            <div class="single-testimonial-2 text-center">
                <img src="{{ setting.ceo_image.url }}" width="110px" height="100px" alt="">
                <p>{{ setting.about_ceo|safe }}</p>
                <h4>SINMI</h4>
                <span>CO-Founder</span>
            </div>
        </div>
    </div>
</div>

{% endblock %}