{% extends "homebase.html" %}
{% load static %}
{% block title %} {{setting.title}}-Faq- {% endblock %}
{% block description %} {{setting.description}} {% endblock %}
{% block keywords %} {{setting.keywords}} {% endblock %}

{% block body %}
		<div class="breadcrumb-area pt-205 breadcrumb-padding pb-210" style="background-image: url({% static '' %}assets/img/bg/breadcrumb.jpg)">
            <div class="container-fluid">
                <div class="breadcrumb-content text-center">
                    <ul>
                        <li><a href="\">home</a></li>
                        <li>Frequently Asked Questions</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="shop-page-wrapper shop-page-padding ptb-100">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>FAQ</h1>
                        {% for rs in faq %}
                        <button class="accordion">{{ rs.question }}</button>
                        <div class="panel">
                          <p>{{ rs.answer | safe }}</p>
                        </div>
                        {% endfor %}
                        <script>
                        var acc = document.getElementsByClassName("accordion");
                        var i;

                        for (i = 0; i < acc.length; i++) {
                          acc[i].addEventListener("click", function() {
                            this.classList.toggle("active");
                            var panel = this.nextElementSibling;
                            if (panel.style.maxHeight) {
                              panel.style.maxHeight = null;
                            } else {
                              panel.style.maxHeight = panel.scrollHeight + "px";
                            }
                          });
                        }
                        </script>
                    </div>
                </div>
            </div>
        </div>
        <style>
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
</style>
{% endblock %}
