{% load static %}
{% if messages %}
<div class="notification-section notification-section-padding notification-img-2 ptb-15">
    <div class="container-fluid">
        <div class="notification-wrapper">
            <div class="notification-pera-graph notification-pera-graph-2">
                <p>

                    {% for message in messages %}
                <div class="alert alert-{{message.tags}}" role="alert">
                    {{ message }}
                </div>
                {% endfor %}

                </p>
            </div>
            <div class="notification-btn-close">
                <div class="notification-btn notification-btn-2">

                </div>
                <div class="notification-close notification-icon-2 notification-icon">
                    <button><i class="pe-7s-close"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
<!-- HEADER -->
<header>
    <div class="header-top-wrapper-2 border-bottom-2">
        <div class="header-info-wrapper pl-200 pr-200">
            <div class="header-contact-info header-contact-info2 ">
                <ul>
                    <li><i class="pe-7s-call"></i> {{setting.phone}}</li>
                    <li><i class="pe-7s-mail"></i> <a href="#">{{setting.email}}</a></li>
                </ul>
            </div>
            <div class="electronics-login-register">
                <ul>
                    <li><a href="#"><i class="pe-7s-users"></i>My Account</a></li>
                    <li><a href="/faq"><i class="pe-7s-repeat"></i>Faq</a>
                    </li>
                    <li><a href="#"><i class="pe-7s-flag"></i>Nigeria</a></li>
                    <li><a class="border-none" href="#"><span>₦</span>Naira</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="header-bottom ptb-40 clearfix">
        <div class="header-bottom-wrapper pr-200 pl-200">
            <div class="logo-3">
                <a href="/">
                    <img src="{% static '' %}assets/img/overdose/logo.jpg" height="60px" width="50px" alt="">
                    <span style="font-size:30px"><b>OVERDOZE</b></span>
                </a>
            </div>
            {% if user_login %}

            {% else %}
            <div class="categories-search-wrapper categories-search-wrapper2">
                <div class="all-categories">
                    <div class="select-wrapper">
                        <select class="select">
                            <option value="">All Categories</option>
                        </select>
                    </div>
                </div>
                <div class="categories-wrapper">
                    <form action="#">
                        <input placeholder="Enter Your key word" type="text">
                        <button type="button"> Search</button>
                    </form>
                </div>
            </div>
            <div class="header-cart-3">
                <a href="/shopcart">
                    <i class="ti-shopping-cart"></i>My Cart
                    {% load myapptags %}
                    {% shopcartcount user.id as count %}
                    <span>{{ count }}</span>
                </a>
            </div>
            {% endif %}
            <div class="mobile-menu-area mobile-menu-none-block electro-2-menu">
                <div class="mobile-menu">
                    <nav id="mobile-menu-active">
                        {% load mptt_tags %}
                        <ul class="menu-overflow">
                            {% if user.id is none %}
                            <li><a>LOGIN</a></li>
                            {% else %}
                            <li><a>LOGOUT</a></li>
                            {% endif %}
                            <li><a>CATEGORY</a></li>
                            {% recursetree category %}
                            <li><a href="/category/{{ node.id }}/{{ node.slug }}">{{node.title}}</a>
                                {% if not node.is_leaf_node %}
                                <ul>
                                    <li>{{children}}</li>
                                </ul>
                                {% endif %}
                            </li>
                            {% endrecursetree %}
                            <li><a href="#">BLOG</a></li>
                            {% if user.id is not none %}
                            <li><a>My Account</a>
                                <ul>
                                    <li><a href="/user">Account</a></li>
                                    <li><a href="/user/wishlist">My Wishlist</a></li>
                                    <li><a href="/user/orders">My Orders</a></li>
                                    <li><a href="/user/comments">My Comments</a></li>
                                    <li><a href="/logout/">Logout</a></li>
                                </ul>
                            </li>
                            {% endif %}

                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>