{% extends "homebase.html" %}
{% load static %}
{% block title %} {{setting.title}}-Product Detail{% endblock %}
{% block description %} {{setting.description}} {% endblock %}
{% block keywords %} {{setting.keywords}} {% endblock %}

{% block body %}
<!-- header end -->
<div class="breadcrumb-area pt-205 pb-210" style="background-image: url({% static '' %}assets/img/bg/breadcrumb.jpg)">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/category/{{ product.category.id}}/{{ product.category.slug}}">{{ product.category.title }}</a></li>
                <li>{{ product.title }}</li>
            </ul>
        </div>
    </div>
</div>


<div class="product-details ptb-100 pb-90">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-7 col-12">
                <div class="product-details-6 pr-70 pro-stick product-details-6 pr-70 pro-stick">
                    {% if variant.image_id > 0 %}
                    <div class="easyzoom easyzoom--overlay mb-30">
                        <a href="{{ variant.image }}" alt="" width="540px" height="500px">
                            <img src="{{ variant.image }}" width="540px" height="500px" overflow="hidden" alt="">
                        </a>
                    </div>
                    {% else %}
                    <div class="easyzoom easyzoom--overlay mb-30">
                        <a href="{{ product.image.url }}" alt="" width="540px" height="500px">
                            <img src="{{ product.image.url }}" width="540px" height="500px" overflow="hidden" alt="">
                        </a>
                    </div>
                    {% endif %}

                    {% for rs in images %}
                    <div class="easyzoom easyzoom--overlay mb-30">
                        <a href="{{ rs.image.url }}" width="540px" height="500px" overflow="hidden" alt="">
                            <img src="{{ rs.image.url }}" width="540px" height="500px" overflow="hidden" alt="">
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-12 col-lg-5 col-12">
                <div class="sidebar-active product-details-content">
                    <h3>{{ product.title }}</h3>
                    <div class="rating-number">
                        <div class="product-rating-4">
                            <i class="icofont icofont-star {% if product.avaregereview >= 1 %}yellow{% endif %}"></i>
                            <i class="icofont icofont-star {% if product.avaregereview >= 2 %}yellow{% endif %}"></i>
                            <i class="icofont icofont-star {% if product.avaregereview >= 3 %}yellow{% endif %}"></i>
                            <i class="icofont icofont-star {% if product.avaregereview >= 4 %}yellow{% endif %}"></i>
                            <i class="icofont icofont-star {% if product.avaregereview >= 5 %}yellow{% endif %}"></i>
                        </div>
                        <div class="quick-view-number">
                            <span>{{ product.avaregereview |stringformat:".2f"}} Ratting(S) / {{ product.countreview }} Review(s)</span>
                        </div>
                    </div>
                    <p>{{ product.description }}</p>

                    <script>
                                $(document).on('change', '#post-form',function(e){
                                    e.preventDefault();
                                    $.ajax({
                                        type:'POST',
                                        url:'{% url "ajaxcolor" %}',
                                        data:{
                                            productid:$('#productid').val(),
                                            size:$('#size').val(),
                                            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                                            action: 'post'
                                        },
                                        data_type : 'html',
                                        success: function (data) {
                                            console.log("success");
                                            $('#appendHere').html(data.rendered_table);
                                        },
                                        error: function (data) {
                                            alert("Got an error dude " + data);
                                        }
                                    });
                                });

                    </script>

                    <div>

                        <div class="quick-view-select">
                            {% if product.variant == 'Size-Color' %}
                            <div class="select-option-part">
                                <div class="product-options">
                                    <div class="size-option">
                                        <form method="POST" id="post-form">
                                            <input type="hidden" name="productid" id="productid"
                                                   value="{{ product.id }}">
                                            <span class="text-uppercase">Size :</span>
                                            {% csrf_token %}
                                            <select name="size" id="size">
                                                {% for rs in sizes %}
                                                <option {% if variant.size_id == rs.size_id %} selected {% endif %} value="{{ rs.size_id }}">{{ rs.size.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </form>
                                    </div>

                                    <form method="post" action="?q=selectvariant" id="post-color">
                                        {% csrf_token %}
                                        <!-- Product Color -->
                                        <div class="col-md-12" id="appendHere">
                                            <div class="row">
                                                <input type="hidden" name="size" id="size" value="{{ size_id }}">
                                                <label>Color*</label>
                                                {% for rs in colors %}
                                                <label class="layersMenu">
                                                    <input type="radio" {% if variant.id == rs.id %} checked {% endif %} name="variantid" id="variantid" value="{{ rs.id }}" onchange="this.form.submit();">
                                                    <img src="{{ rs.image }}" style="height: 70px">
                                                    <div>
                                                        <a style="background-color:{{ rs.color.code }}; color: #D9D9D9; text-shadow: 1px 1px #000000; width: 90px">
                                                            ₦{{ rs.price}} {{ rs.color }}
                                                        </a>
                                                    </div>
                                                </label>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </form>

                                    {% elif product.variant == 'Size' %}
                                    <form method="post" action="?q=selectvariant" id="post-color">
                                        {% csrf_token %}
                                        <div class="col-md-12" id="appendHere">
                                            <div class="row">
                                                <input type="hidden" name="size" id="size" value="{{ size_id }}">
                                                <label>Size*</label>
                                                {% for rs in sizes %}
                                                <label class="radio-inline">
                                                    <input type="radio" {% if variant.id == rs.id %} checked {% endif %} name="variantid" id="variantid" value="{{ rs.id }}" onchange="this.form.submit();">
                                                    <a class="blog-btn btn-hover">{{ rs.size }}</a>
                                                </label>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </form>

                                    {% elif product.variant == 'Color' %}
                                    <form method="post" action="?q=selectvariant" id="post-color">
                                        {% csrf_token %}
                                        <div id="appendHere">
                                            <input type="hidden" name="size" id="size" value="{{ size_id }}">
                                            <label>Color*</label>
                                            {% for rs in colors %}
                                            <label class="layersMenu">
                                                <input type="radio" {% if variant.id == rs.id %} checked {% endif %} name="variantid" id="variantid" value="{{ rs.id }}" onchange="this.form.submit();">
                                                <img src="{{ rs.image }}" style="height: 70px">
                                                <div>
                                                    <a style="background-color:{{ rs.color.code }}; color: #D9D9D9; text-shadow: 1px 1px #000000; width: 90px">
                                                        ₦{{ rs.price}} {{ rs.color }}
                                                    </a>
                                                </div>
                                            </label>
                                            {% endfor %}
                                        </div>
                                    </form>
                                    {% endif %}


                                    {% if product.variant != 'None' %}
                                    <form action="/order/addtoshopcart/{{ product.id }}" method="post" id="addchart-form">
                                        {% csrf_token %}
                                        <input type="hidden" name="variantid" id="variantid" value="{{ variant.id }}">
                                        <div class="product-details-cati-tag mt-35" id="SelectedProduct">
                                            <ul>
                                                <li class="categories-title">Availability :</li>
                                                <li><a> {% if variant.quantity > 0 %} <h5><b>In Stock</b></h5> {% else %} <h5><b>Out of Stock</b></h5> {% endif %}</a></li>
                                            </ul>
                                            <ul>
                                                <li class="categories-title"></li>
                                                <li><a href="#"></a></li>
                                            </ul>
                                            <ul>
                                                <li class="categories-title">Selected :</li>
                                                <li><a> Size : {{ variant.size }} Color : {{ variant.color }} </a></li>
                                            </ul>
                                            <div class="details-price">
                                                <span>₦{{ variant.price}}</span>
                                            </div>
                                            <div class="quickview-plus-minus">
                                                <div>
                                                    <input class="input" type="number" value="1" min="1"
                                                           max="{{ variant.quantity }}" name="quantity"
                                                           class="cart-plus-minus-box">
                                                </div>
                                                <Button type="submit" {% if variant.quantity < 1 %} disabled {% endif %}>
                                                <div class="quickview-btn-cart">
                                                    <a class="btn-hover-black" style="color: white;">add to cart</a>
                                                </div>
                                                </Button>
                                            </div>
                                        </div>
                                    </form>
                                    {% else %}
                                    <form action="/order/addtoshopcart/{{ product.id }}" method="post" id="addchart-form">
                                        {% csrf_token %}
                                        <div class="product-details-cati-tag mt-35" id="SelectedProduct">
                                            <ul>
                                                <li class="categories-title">Availability :</li>
                                                <li><a> {% if product.amount > 0 %} <h5><b>In Stock</b></h5> {% else %} <h5><b>Out of Stock</b></h5> {% endif %}</a></li>
                                            </ul>
                                            <ul>
                                                <li class="categories-title"></li>
                                                <li><a href="#"></a></li>
                                            </ul>
                                            <div class="details-price">
                                                <span>₦{{ product.price}}</span>
                                            </div>
                                            <div class="quickview-plus-minus">
                                                <div>
                                                    <input class="input" type="number" value="1" min="1" max="{{ product.amount }}" name="quantity" class="cart-plus-minus-box">
                                                </div>
                                                <Button type="submit" {% if variant.quantity < 1 %} disabled {% endif %}>
                                                <div class="quickview-btn-cart">
                                                    <a class="btn-hover-black" style="color: white;">add to cart</a>
                                                </div>
                                                </Button>
                                            </div>
                                        </div>
                                    </form>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="product-description-review-area pb-90">
            <div class="container">
                <div class="blog-feature">
                    <h1><b>Details<b></h1>
                    <p>{{ product.detail}}</p>
                </div>
                    <div class="leave-area">
                        <h4 class="blog-details-title">Write Your Review</h4>
                        <div class="blog-details-title"></div>
                    </div>
                    <form action="/product/addcomment/{{ product.id }}" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="leave-form mb-20">
                                            <input name="subject" placeholder="Subject *" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">

                                <div class="text-leave">
                                    <textarea name="comment" placeholder="Your Review*"></textarea>
                                </div>
                            </div>
                            <div class="">
                                <div class="input-rating input-rating">
                                    <link rel="stylesheet"
                                          href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
                                    <div>
                                        <form action="">
                                            <input class="star star-5" id="star-5" type="radio" name="rate" value="5"/>
                                            <label class="star star-5" for="star-5"></label>
                                            <input class="star star-4" id="star-4" type="radio" name="rate" value="4"/>
                                            <label class="star star-4" for="star-4"></label>
                                            <input class="star star-3" id="star-3" type="radio" name="rate" value="3"/>
                                            <label class="star star-3" for="star-3"></label>
                                            <input class="star star-2" id="star-2" type="radio" name="rate" value="2"/>
                                            <label class="star star-2" for="star-2"></label>
                                            <input class="star star-1" id="star-1" type="radio" name="rate" value="1"/>
                                            <label class="star star-1" for="star-1"></label>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="leave-btn">
                                    {% if user.id is not None %}
                                    <button class="submit btn-hover" type="submit"><i class="pe-7s-mail"></i> Send
                                    </button>
                                    {% else %}
                                    <h4>You must be logged in to post a review</h4>
                                    {% endif %}
                                </div>

                            </div>
                        </div>
                    </form>
                {% if comments %}
                <div class="blog-replay-wrapper">
                    <h4 class="blog-details-title2">REVIEW ON PRODUCT</h4>
                    {% for rs in comments %}
                    <div class="single-blog-replay">
                        <div class="replay-img">
                            <a href="#"><img src="{% static '' %}assets/img/blog/14.jpg" alt=""></a>
                        </div>
                        <div class="replay-info-wrapper">
                            <div class="replay-info">
                                <div class="replay-name-date">
                                    <h5><a href="#">{{ rs.user.first_name }}</a></h5>
                                    <h5><span>{{ rs.subject }}</span></h5>
                                    <span>{{ rs.create_at }}</span>
                                    <div class="product-rating-4">
                                        <i class="icofont icofont-star {% if rs.rate >= 1 %}yellow{% endif %}"></i>
                                        <i class="icofont icofont-star {% if rs.rate >= 2 %}yellow{% endif %}"></i>
                                        <i class="icofont icofont-star {% if rs.rate >= 3 %}yellow{% endif %}"></i>
                                        <i class="icofont icofont-star {% if rs.rate >= 4 %}yellow{% endif %}"></i>
                                        <i class="icofont icofont-star {% if rs.rate >= 5 %}yellow{% endif %}"></i>
                                    </div>

                                </div>

                            </div>
                            <p>{{ rs.comment }}</p>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="blog-replay-wrapper">
                        <div class="product-description-review-area pb-90">
                            <div class="container">
                                <div class="product-description-review text-center">
                                    <div class="description-review-title nav" role=tablist>
                                        <a class="active" data-toggle="tab" role="tab" aria-selected="true">
                                            Reviews (0)
                                        </a>
                                    </div>
                                    <div class="description-review-text tab-content">
                                        <div class="tab-pane active show fade" id="pro-review" role="tabpanel">
                                            <a href="#">Be the first to write your review!</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- product area start -->
    <div class="product-area pb-95">
        <div class="container">
            <div class="section-title-3 text-center mb-50">
                <h2>Related products</h2>
            </div>
            <div class="product-style">
                <div class="related-product-active owl-carousel">
                    {%  for rs in related_product %}
                    <div class="product-wrapper">
                        <div class="product-img">
                            <a href="/product/{{ rs.id }}/{{ rs.slug }}">
                                <img src="{{ rs.image.url }}" height="350px" alt="">
                            </a>
                            <div class="product-action">
                                <a class="animate-top" title="Add To Cart" href="/order/addtoshopcart/{{ rs.id }}">
                                    <i class="pe-7s-cart"></i>
                                </a>
                                <a class="animate-right" title="Quick View" href="/product/{{ rs.id }}/{{ rs.slug }}">
                                    <i class="pe-7s-look"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-content">
                            <h4><a href="/product/{{ rs.id }}/{{ rs.slug }}">{{ rs.title }}</a></h4>
                            <span>$115.00</span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- product area end -->

    <style>
.boxed label {
  display: inline-block;
  width: fit;
  padding: 10px;
  border: solid 2px #ccc;
  transition: all 0.3s;
}

.boxed input[type="radio"] {
  display: none;
}

.boxed input[type="radio"]:checked + label {
  border: solid 2px green;
}



label { display: inline-block }
label > input { /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
label > input + img { /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}
label > input:checked + img { /* (RADIO CHECKED) IMAGE STYLES */
  border:2px solid #f00;
}


 button{
    background: transparent;
    border: none !important;
             }​
div.stars {
    width: 270px;
    display: inline-block;
}

input.star { display: none; }

label.star {
    float: right;
    display: right;
    padding: 10px;
    font-size: 36px;
    color: #444;
    transition: all .2s;
}

input.star:checked ~ label.star:before {
    content: '\f005';
    color: #FD4;
    transition: all .25s;
}

input.star-5:checked ~ label.star:before {
    color: #FE7;
    text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before { color: #F62; }

label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
    content: '\f006';
    font-family: FontAwesome;
}
@media only screen and (max-width: 600px) {
    div.stars {
        width: 100px;
    }
}
</style>
</div>
{% endblock %}