{% extends "homebase.html" %}
{% load static %}
{% block title %} {{setting.title}}-Products Searched- {% endblock %}
{% block description %} {{setting.description}} {% endblock %}
{% block keywords %} {{setting.keywords}} {% endblock %}

{% block body %}
        <!-- header end -->
		<div class="breadcrumb-area pt-205 breadcrumb-padding pb-210" style="background-image: url({% static '' %}assets/img/bg/breadcrumb.jpg)">
            <div class="container-fluid">
                <div class="breadcrumb-content text-center">
                    <ul>
                        <li><a href="#">home</a></li>
                        <li>product searched</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="shop-page-wrapper shop-page-padding ptb-100">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="shop-sidebar mr-50">
                            <div class="sidebar-widget mb-50">
                                <h3 class="sidebar-title">Top rated products</h3>
                                <div class="sidebar-top-rated-all">
                                    {% for rs in top_rated %}
                                    <div class="sidebar-top-rated mb-30">
                                        <div class="single-top-rated">
                                            <div class="top-rated-img">
                                                <a href="/product/{{ rs.id }}/{{ rs.slug }}"><img src="{{ rs.image.url }}" alt="" height="100px" width="70px"></a>
                                            </div>
                                            <div class="top-rated-text">
                                                <h4><a href="/product/{{ rs.id }}/{{ rs.slug }}">{{ rs.title }}</a></h4>
                                                <b><span> {{ rs.avaregereview |stringformat:".2f"}} Ratting(S)</span></b>
                                                <div class="rating-number">
                                                    <div class="product-rating-4">
                                                         <i class="icofont icofont-star {% if rs.avaregereview >= 1 %}yellow{% endif %}"></i>
                                                         <i class="icofont icofont-star {% if rs.avaregereview >= 2 %}yellow{% endif %}"></i>
                                                         <i class="icofont icofont-star {% if rs.avaregereview >= 3 %}yellow{% endif %}"></i>
                                                         <i class="icofont icofont-star {% if rs.avaregereview >= 4 %}yellow{% endif %}"></i>
                                                         <i class="icofont icofont-star {% if rs.avaregereview >= 5 %}yellow{% endif %}"></i>
                                                        <b><span>₦{{ rs.price }}</span></b>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% if querysets %}
                    <div class="col-lg-9">
                         <div class="shop-product-wrapper">
                            <div class="shop-bar-area">
                                <div class="shop-bar pb-60">
                                    <div class="shop-found-selector">
                                        <div class="shop-found">
                                            <p> Products Found</p>
                                        </div>
                                        <div class="shop-selector">
                                            <label>Sort By : Product searched</label>
                                        </div>
                                    </div>
                                    <div class="shop-filter-tab">
                                        <div class="shop-tab nav" role=tablist>
                                            <a class="active" href="#grid-sidebar14" data-toggle="tab" role="tab" aria-selected="true">
                                                <i class="ti-menu"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="shop-product-content tab-content">
                                    <div id="grid-sidebar14" class="tab-pane fade active show">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                {% for rs in querysets %}
                                                <div class="product-wrapper mb-30 single-product-list product-list-right-pr mb-60">
                                                    <div class="product-img list-img-width">
                                                        <a href="/product/{{ rs.id }}/{{ rs.slug }}">
                                                            <img src="{{ rs.image.url }}" height="200px" width="400px" overflow="hidden" alt="">
                                                        </a>
                                                        <div class="product-action-list-style">
                                                            <a class="animate-right" title="Quick View" data-toggle="modal" data-target="#exampleModal" href="#">
                                                                <i class="pe-7s-look"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="product-content-list">
                                                        <div class="product-list-info">
                                                            <h4><a href="/product/{{ rs.id }}/{{ rs.slug }}">{{ rs.title }}</a></h4>
                                                            <span>₦{{ rs.price }}</span>
                                                            <p>{{ rs.short_description }}</p>
                                                        </div>
                                                        <div class="product-list-cart-wishlist">
                                                            <div class="product-list-cart">
                                                                <a class="btn-hover list-btn-style" href="#">add to cart</a>
                                                            </div>
                                                            <div class="product-list-wishlist">
                                                                <a class="btn-hover list-btn-wishlist" href="#">
                                                                    <i class="pe-7s-like"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pagination-style mt-10 text-center">
                            <ul>
                                <li><a href="#"><i class="ti-angle-left"></i></a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">...</a></li>
                                <li><a href="#">19</a></li>
                                <li class="active"><a href="#"><i class="ti-angle-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    {% else %}
                    <div class="col-lg-9">
                    <div class="shop-product-wrapper">
                            <div class="shop-bar-area">
                                <div class="shop-product-content tab-content">
                                    <div id="grid-sidebar14" class="tab-pane fade active show">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="product-wrapper mb-30 single-product-list product-list-right-pr mb-60">
                                                    <div class="product-img list-img-width">
                                                    <div class="product-img">
                                                        <img src="{% static '' %}assets/img/overdose/Screenshot.png" alt="">
                                                    </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>   
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
		{% endblock %}