{% load static %}

<div class="categori-menu-wrapper2 clearfix">
    <div class="pl-200 pr-200">
        <div class="categori-style-2">
            <div class="category-heading-2">
                <ul style="padding-top:12px">
                 {% if user.id is none %}
                <h4><li style="color:white;>Get Access:<a href="/login">Login</a></i><a href="/register">/Reg </a></li></h4>
                 {% else %}
                <h4><li style="color:white;">Hello: <a>{{ user.first_name }}</a></i><a href="/logout"> / logout </a></li></h4>
                 {% endif %}
                </ul>
            </div>
        </div>
        <div class="menu-style-4 menu-hover">
            <nav>
                <ul>
                    <li><a href="/">home</i></a></li>
                    <li><a href="#">SHOP CARTEGORIES<i class="pe-7s-angle-down"></i></a>
                            <div class="category-menu-dropdown shop-menu">
                            {% load mptt_tags %}
                            {% recursetree category %}
                                <div class="category-dropdown-style category-common2 mb-30">

                                    <h4><a href="/category/{{ node.id }}/{{ node.slug }}">{{node.title}}</a></h4>
                                    <ul>
                                        {% if not node.is_leaf_node %}
                                        <li><a href=""> {{children}}</a></li>
                                        {% endif %}
                                    </ul>
                                </div>
                                {% endrecursetree %}
                                <div class="mega-banner-img">
                                    <a href="single-product.html">
                                        <img src="assets/img/banner/18.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                        </li>
                    <li><a href="#">blog</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                    <li><a href="/about">About Us</a></li>

                </ul>
            </nav>
        </div>
    </div>
</div>