{% extends "homebase.html" %}
{% load static %}
{% block title %} {{setting.title}}-Login-{% endblock %}
{% block description %} {{setting.description}} {% endblock %}
{% block keywords %} {{setting.keywords}} {% endblock %}

{% block body %}
<link rel="stylesheet" href="{% static '' %}assets/signs/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
<link rel="stylesheet" href="{% static '' %}assets/signs/css/style.css">
        <!-- login-area start -->
        <div class="wrappers" style="background-image: url('{% static '' %}assets/signs/images/registration-form-2.jpg');">
			<div class="inner">
				<form action="" method="post">
                    {% csrf_token %}
					<h3>login</h3>
					<div class="form-wrappers">
						<label>Username</label>
						<input type="text" class="form-controls" name="username">
					</div>
					<div class="form-wrappers">
						<label>Password</label>
						<input type="password" class="form-controls" name="password">
					</div>
                    <button class="buttonl" value="login" type="submit">Login</button>
				</form>
                <div class="col-12">
                    <div class="form-wrappers">
                            <label for="">Not yet a member Signup<b>?</b></label>
                            <a href="/signup"><button class="button" style="color:black">SignUp</button></a>
                    </div>
                </div>
			</div>
        </div>

{% endblock %}