{% extends "homebase.html" %}
{% load static %}
{% block title %} {{setting.title}}-Sign Up-{% endblock %}
{% block description %} {{setting.description}} {% endblock %}
{% block keywords %} {{setting.keywords}} {% endblock %}

{% block body %}
        <!-- header end -->
        <link rel="stylesheet" href="{% static '' %}assets/signs/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
		<link rel="stylesheet" href="{% static '' %}assets/signs/css/style.css">
        <!-- login-area start -->
        <div class="wrappers" style="background-image: url('{% static '' %}assets/signs/images/registration-form-2.jpg');">
			<div style="height:1000px;width:500px;overflow:hidden;background-repeat:no-repeat" class="inner">
				<form action="" method="post">
                    {% csrf_token %}
					<h3>Sign Up</h3>
                    {% for field in form %}
                        <p>

                                {{ field.label_tag }}<br>
                                {{ field }}
                            {% if field.help_text %}
                            <small style="form-controls">{{ field.help_text }}</small>
                            {% endif %}
                            {% for error in field.errors %}
                                <p style="form-controls">{{ error }}</p>
                            {% endfor %}
                        </p>
                    {% endfor %}
                    <button class="buttonl" value="login" type="submit">Sign Up</button>
				</form>
                <div class="col-12">
                    <div class="form-wrappers">
                            <label for="">Already registered<b>?</b></label>
                            <a href="/login"><button class="button"  style="color:black">Log In</button></a>
                    </div>
                </div>
			</div>
        </div>
{% endblock %}