{% extends "homebase.html" %}
{% load static %}
{% block title %} {{setting.title}}-PassWord Change-{% endblock %}
{% block description %} {{setting.description}} {% endblock %}
{% block keywords %} {{setting.keywords}} {% endblock %}

{% block body %}
        <!-- header end -->
        <div class="breadcrumb-area pt-205 pb-210" style="background-image: url({% static '' %}assets/img/bg/breadcrumb.jpg)">
            <div class="container">
                <div class="breadcrumb-content text-center">
                    <ul>
                        <li><a href="/">home</a></li>
                        <li>Password Change</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- body end -->
        <div class="cart-main-area pt-95 pb-100">
            <div class="container">
                <div class="row">
                        {% include "user_panel.html" %}
                    <div class="col-md-9">
                        <div class="billing-details">
                            <div class="section-title">
                                <h3 class="title">User Change Password</h3>
                            </div>
                        </div>
                        {% if messages %}
                            {% for message in messages %}
                                <div style="color:#d43f3a; font-size: medium">
                                    {{ message|safe }}
                                </div>
                            {% endfor %}
                        {% endif %}
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% for field in form %}
                                <p>
                                    {{ field.label_tag }}<br>
                                    {{ field }}
                                    {% if field.help_text %}
                                        <small style="">{{ field.help_text }}</small>
                                    {% endif %}
                                    {% for errors in field.errors %}
                                        <p>{{ error }}</p>
                                    {% endfor %}
                                </p>
                            {% endfor %}
                            <div class="form-group">
                                <button class="button" type="submit" style="color:black;">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    <!-- body end -->
    <style>
        .button {
    letter-spacing: 0px;
}
    </style>
{% endblock %}