<div class="col-lg-3">
        <div class="sidebar-widget mb-45">
            <h3 class="sidebar-title">Categories</h3>
            <div class="sidebar-categories">
                <ul>
                    <li><a href="/user">User Profile</a></li>
                    <li><a href="/user/order">My Order</a></li>
                    <li><a href="/user/order_product">My Order Product</a></li>
                    <li><a href="/user/comments">My Comment</a></li>
                    <li><a href="/user/products">My Products</a></li>
                    <li><a href="/logout">Log Out</a></li>
                </ul>
            </div>
        </div>
    </div>
