{% extends "homebase.html" %}
{% load static %}
{% block title %} {{setting.title}}-User Profile-{% endblock %}
{% block description %} {{setting.description}} {% endblock %}
{% block keywords %} {{setting.keywords}} {% endblock %}

{% block body %}
        <!-- header end -->
        <div class="breadcrumb-area pt-205 pb-210" style="background-image: url({% static '' %}assets/img/bg/breadcrumb.jpg)">
            <div class="container">
                <div class="breadcrumb-content text-center">
                    <h2>product details</h2>
                    <ul>
                        <li><a href="/">home</a></li>
                        <li>Userprofile</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- body end -->
        <div class="cart-main-area pt-95 pb-100">
            <div class="container">
                <div class="row">
                        {% include "user_panel.html" %}
                    <div class="col-md-9">
                        <div class="order-summary clearfix table-responsive">
                        <div class="billing-details">
                            <div class="section-title">
                                <h3 class="title">User Profile Information</h3>
                            </div>
                        </div>
                        <table class="shopping-cart-table table table-responsive">
                            <tr>
                                <th class="text-left">
                                    <a href="/user/update" class="button block" style="color:black">Update Profile</a>
                                    <a href="/user/password" class="button block" style="color:black">Change Password</a>
                                </th>
                                <td>
                                    <img src="{{ profile.image.url }}" height="100px" width="100px" overflow="hidden" style="border-radius: 50px">
                                </td>
                            </tr>
                            <tr>
                                <th class="text-left">Name Surname</th>
                                <td class="text-left">{{ user.first_name }} {{ user.last_name }}</td>
                            </tr>
                            <tr>
                                <th class="text-left">Email</th>
                                <td class="text-left">{{ profile.user.email }}</td>
                            </tr>
                            <tr>
                                <th class="text-left">Phone</th>
                                <td class="text-left">{{ profile.phone }}</td>
                            </tr>
                            <tr>
                                <th class="text-left">Address</th>
                                <td class="text-left">{{ profile.address }}</td>
                            </tr>
                            <tr>
                                <th class="text-left">City</th>
                                <td class="text-left">{{ profile.city }}</td>
                            </tr>
                            <tr>
                                <th class="text-left">Country</th>
                                <td class="text-left">{{ profile.country }}</td>
                            </tr>
                        </table>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
    <!-- body end -->
    <style>
        .button {
    letter-spacing: 0px;
}
    </style>
{% endblock %}