{% extends "homebase.html" %}
{% load static %}
{% block title %} {{setting.title}}-User Order Detail-{% endblock %}
{% block description %} {{setting.description}} {% endblock %}
{% block keywords %} {{setting.keywords}} {% endblock %}

{% block body %}
<div class="breadcrumb-area pt-205 pb-210" style="background-image: url({% static '' %}assets/img/bg/breadcrumb.jpg)">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <h2>product details</h2>
            <ul>
                <li><a href="/">home</a></li>
                <li>User Detail Order</li>
            </ul>
        </div>
    </div>
</div>
<!-- body end -->
<div class="shop-page-wrapper shop-page-padding ptb-100">
            <div class="container-fluid">
                <div class="row">
                        {% include "user_panel.html" %}
                        <div class="col-md-9">
                <div class="order-summary">
                    <div class="section-title">
                        <h3 class="title">Order Detail</h3>
                    </div>
                    <table class="shopping-cart-table table table-responsive">
                        <tr>
                            <th class="text-left">Name Surname</th>
                            <td class="text-left">{{ order.first_name }} {{ order.last_name }}</td>
                        </tr>
                        <tr>
                            <th class="text-left">Phone</th>
                            <td class="text-left">{{ order.phone }}</td>
                        </tr>
                        <tr>
                            <th class="text-left">Address</th>
                            <td class="text-left">{{ order.address }}</td>
                        </tr>
                        <tr>
                            <th class="text-left">City</th>
                            <td class="text-left">{{ order.city }}</td>
                        </tr>
                        <tr>
                            <th class="text-left">Country</th>
                            <td class="text-left">{{ order.country }}</td>
                        </tr>
                        <tr>
                            <th class="text-left">Status</th>
                            <td class="text-left">{{ order.status }}</td>
                        </tr>
                        <tr>
                            <th class="text-left">Date</th>
                            <td class="text-left">{{ order.create_at }}</td>
                        </tr>
                        <tr>
                            <th class="text-left">Shipping Information</th>
                            <td class="text-left">{{ order.adminnote }}</td>
                        </tr>
                    </table>
                    <h1 class="cart-heading">Product Detail</h1>
                    <div class="table-content table-responsive">
                        <table>
                            <thead>
                            <tr>
                                <th>images</th>
                                <th>Product</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Amount</th>
                                <th>Status</th>
                                <th>Date</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for rs in orderitems %}
                            <tr>
                                <td class="product-thumbnail">
                                    <a>
                                        {% if rs.variant.image_id > 0 %}
                                        <img src="{{ rs.variant.image }}" width="100px" height="100px" overflow="hidden"
                                             alt=""></a>
                                    {% else %}
                                    <img src="{{ rs.product.image.url }}" width="100px" height="100px" overflow="hidden"
                                         alt=""></a>
                                    {% endif %}
                                </td>
                                <td class="product-name"><a href="/product/{{ rs.product.id }}/{{ rs.product.slug }}">{{ rs.product }} {{ rs.variant.size }} {{ rs.variant.color }}</a></td>
                                <td class="product-price-cart">
                                    {% if rs.product.variant == 'None' %}
                                    <p>₦{{ rs.product.price }}</p>
                                    {% else %}
                                    <p>₦{{ rs.variant.price }}</p>
                                    {% endif %}
                                    </span></td>
                                <td class="product-quantity">{{ rs.quantity }}</td>
                                <td class="product-subtotal">
                                    {% if rs.product.variant == 'None' %}
                                    <p>₦{{ rs.amount }}</p>
                                    {% else %}
                                    <p>₦{{ rs.varamount }}</p>
                                    {% endif %}
                                </td>
                                <td class="product-subtotal">{{ rs.status }}</td>
                                <td class="product-subtotal" style="align-text:left;">{{ rs.create_at }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
                </div>
    </div>
</div>
<!-- body end -->
<style>
        .button {
    letter-spacing: 0px;
}


</style>
{% endblock %}