{% extends "homebase.html" %}
{% load static %}
{% block title %} {{setting.title}}-User Order Product-{% endblock %}
{% block description %} {{setting.description}} {% endblock %}
{% block keywords %} {{setting.keywords}} {% endblock %}

{% block body %}
<!-- header end -->
<div class="breadcrumb-area pt-205 pb-210" style="background-image: url({% static '' %}assets/img/bg/breadcrumb.jpg)">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li><a href="/">home</a></li>
                <li>User Order Product</li>
            </ul>
        </div>
    </div>
</div>
<!-- body end -->
<div class="cart-main-area pt-95 pb-100">
    <div class="container">
        <div class="row">
            {% include "user_panel.html" %}

            <div class="col-md-9">
                <div class="billing-details">
                    <div class="section-title">
                        <h3 class="title">Order Product</h3>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                        <div class="table-content table-responsive">
                            <table>
                                <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Product Name</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Amount</th>
                                    <th>Status</th>
                                    <th>Date</th>
                                    <th>Detail</th>
                                </tr>
                                </thead>

                                <tbody>
                                {% for rs in order_product %}
                                <tr>
                                    <td class="product-thumbnail">
                                    <a>
                                        {% if rs.variant.image_id > 0 %}
                                        <img src="{{ rs.variant.image }}" width="100px" height="100px" overflow="hidden"
                                             alt=""></a>
                                    {% else %}
                                    <img src="{{ rs.product.image.url }}" width="100px" height="100px" overflow="hidden"
                                         alt=""></a>
                                    {% endif %}
                                </td>
                                <td class="product-name"><a href="/product/{{ rs.product.id }}/{{ rs.product.slug }}">{{ rs.product }} {{ rs.variant.size }} {{ rs.variant.color }}</a></td>
                                <td class="product-price-cart">
                                    {% if rs.product.variant == 'None' %}
                                    <p>₦{{ rs.product.price }}</p>
                                    {% else %}
                                    <p>₦{{ rs.variant.price }}</p>
                                    {% endif %}
                                    </span></td>>
                                    <td class="product-quantity">
                                        {{ rs.quantity }}
                                    </td>
                                    <td class="product-subtotal">₦{{ rs.amount }}</td>
                                    <td class="product-name">{{ rs.status }}</td>
                                    <td class="product-name">{{ rs.create_at }}</td>
                                    <td class="product-subtotal"><a class="button" style="color:black"
                                                                    href="/user/order_product_detail/{{ rs.id }}/{{ rs.order.id }}">Detail</a>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<style>
        .button {
    letter-spacing: 0px;
}

</style>
{% endblock %}