{% extends "homebase.html" %}
{% load static %}
{% block title %} {{setting.title}}-User Orders-{% endblock %}
{% block description %} {{setting.description}} {% endblock %}
{% block keywords %} {{setting.keywords}} {% endblock %}

{% block body %}
<div class="breadcrumb-area pt-205 pb-210" style="background-image: url({% static '' %}assets/img/bg/breadcrumb.jpg)">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li><a href="/">home</a></li>
                <li>User Orders</li>
            </ul>
        </div>
    </div>
</div>
<!-- body Start -->
<div class="cart-main-area pt-95 pb-100">
    <div class="container">
        <div class="row">
            {% include "user_panel.html" %}
            <div class="col-md-9">
                <div class="billing-details">
                    <div class="section-title">
                        <h3 class="title">Orders</h3>
                    </div>
                </div>
                <div class="order-summary clearfix table-responsive">
                    <div class="section-title">
                        <h3 class="title">Order List</h3>
                    </div>
                    <table class="shopping-cart-table  table-responsive">
                        <tr>
                            <th class="text-left">Id</th>
                            <th class="text-left">First Name</th>
                            <th class="text-left">Last Name</th>
                            <th class="text-left">Total</th>
                            <th class="text-left">Status</th>
                            <th class="text-left">Date</th>
                            <th class="text-left">Detail</th>
                        </tr>
                        {% for rs in orders %}
                        <tr>
                            <td class="text-left">{{ rs.id }}</td>
                            <td class="text-left">{{ rs.first_name }}</a></td>
                            <td class="text-left">{{ rs.last_name }}</td>
                            <td class="text-left">{{ rs.total }}</td>
                            <td class="text-left">{{ rs.status }}</td>
                            <td class="text-left">{{ rs.create_at }}</td>
                            <td class="text-left"><a class="button" style="color:black"
                                                     href="/user/orderdetail/{{ rs.id }}">Detail</a></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- body end -->
<style>
        .button {
    letter-spacing: 0px;
}

</style>
{% endblock %}