{% extends "homebase.html" %}
{% load static %}
{% block title %} {{setting.title}}-Order Completed- {% endblock %}
{% block description %} {{setting.description}} {% endblock %}
{% block keywords %} {{setting.keywords}} {% endblock %}

{% block body %}
<!-- header end -->
		<div class="breadcrumb-area pt-205 pb-210" style="background-image: url({% static '' %}assets/img/bg/breadcrumb.jpg)">
            <div class="container">
                <div class="breadcrumb-content text-center">
                    <h2>cart page</h2>
                    <ul>
                        <li><a href="/">home</a></li>
                        <li> cart page</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- shopping-cart-area start -->
                <div class="col-md-12">
                    <h3>Order Completed</h3>
                        <h2>Dear {{ user.first_name }} {{ user.last_name }}</h2>
                        <h3>Your Order has been completed</h3>
                        <h3>Your Order Code is: {{ ordercode }}</h3>
                        <h3>Thank You</h3>
                </div>
        <!-- shopping-cart-area end -->
{% endblock %}