{% extends "homebase.html" %}
{% load static %}
{% block title %} Order Form-{% endblock %}
{% block description %} {{setting.description}} {% endblock %}
{% block keywords %} {{setting.keywords}} {% endblock %}

{% block body %}
<!-- header end -->
		<div class="breadcrumb-area pt-205 pb-210" style="background-image: url({% static '' %}assets/img/bg/breadcrumb.jpg)">
            <div class="container">
                <div class="breadcrumb-content text-center">
                    <ul>
                        <li><a href="/">home</a></li>
                        <li> Order PageForm</li>
                    </ul>
                </div>
            </div>
        </div>
            <!-- checkout-area start -->
             <div class="checkout-area ptb-100">
                <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-12">
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <div class="checkbox-form">
                                        <h3>Shipping Details</h3>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="checkout-form-list">
                                                    <label for="id_first_name">First Name <span class="required">*</span></label>
                                                    <input type="text" name="first_name" value="{{ user.first_name }}" class="input" maxlength="10" required id="id_first_name"/>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="checkout-form-list">
                                                    <label for="id_last_name">Last Name <span class="required">*</span></label>
                                                    <input type="text" name="last_name" value="{{ user.last_name }}" class="input" maxlength="10" required id="id_last_name"/>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="checkout-form-list">
                                                    <label for="id_address">Address</label>
                                                    <input type="text" name="address" value="{{ profile.address }}" class="input" maxlength="150" required id="id_address"/>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="checkout-form-list">
                                                    <label for="id_phone">Phone <span class="required">*</span></label>
                                                    <input type="text" name="phone" value="{{ profile.phone }}" class="input" maxlength="20" required id="id_phone"/>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="country-select">
                                                    <label for="id_city">City <span class="required">*</span></label>
                                                    <select name="city" class="input" id="id_city">
                                                      <option value="{{ profile.city }}" selected>{{ profile.city }}</option>
                                                      <option value="saab">Algeria</option>
                                                      <option value="mercedes">Afghanistan</option>
                                                      <option value="audi">Ghana</option>
                                                      <option value="audi2">Albania</option>
                                                      <option value="audi3">Bahrain</option>
                                                      <option value="audi4">Colombia</option>
                                                      <option value="audi5">Dominican Republic</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="checkout-form-list">
                                                    <label for="id_country">Country <span class="required">*</span></label>
                                                    <input type="text" name="country" class="input" id="id_country" value="{{ profile.country }}"/>
                                                </div>
                                                <div class="payment-method">
                                        <div class="payment-accordion">
                                            <div class="panel-group" id="faq">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h5 class="panel-title"><a data-toggle="collapse" aria-expanded="true" data-parent="#faq" href="#payment-1">Direct Bank Transfer.</a></h5>
                                                    </div>
                                                    <div id="payment-1" class="panel-collapse collapse show">
                                                        <div class="panel-body">
                                                            <p>Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h5 class="panel-title"><a class="collapsed" data-toggle="collapse" aria-expanded="false" data-parent="#faq" href="#payment-2">Cheque Payment</a></h5>
                                                    </div>
                                                    <div id="payment-2" class="panel-collapse collapse">
                                                        <div class="panel-body">
                                                            <p>Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h5 class="panel-title"><a class="collapsed" data-toggle="collapse" aria-expanded="false" data-parent="#faq" href="#payment-3">PayPal</a></h5>
                                                    </div>
                                                    <div id="payment-3" class="panel-collapse collapse">
                                                        <div class="panel-body">
                                                            <p>Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="order-button-payment">
                                                <input type="submit" value="Place order" />
                                            </div>
                                        </div>
                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-lg-6 col-md-12 col-12">
                                <div class="your-order">
                                    <h3>Your order</h3>
                                    <div class="your-order-table table-responsive">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th class="product-name">Product</th>
                                                    <th class="product-total">Total</th>
                                                </tr>
                                            </thead>
                                                <tbody>
                                            {% for rs in shopcart %}
                                                    <tr class="cart_item">
                                                        <td class="product-name">
                                                            {{ rs.product }} {{ rs.variant.size }} {{ rs.variant.color }} <strong class="product-quantity"> × {{ rs.quantity }}</strong>
                                                        </td>
                                                        <td class="product-total">
                                                            <span class="amount">
                                                        {% if rs.product.variant == 'None' %}
                                                            <p>₦{{ rs.product.price }}</p>
                                                         {% else %}
                                                            <p>₦{{ rs.variant.price }}</p>
                                                         {% endif %}</span>
                                                        </td>
                                                    </tr>
                                            {% endfor %}
                                                </tbody>
                                                <tfoot>
                                                    <tr class="cart-subtotal">
                                                        <th>Cart Subtotal</th>
                                                        <td><span class="amount">₦{{ total }}</span></td>
                                                    </tr>
                                                    <tr class="order-total">
                                                        <th>Order Total</th>
                                                        <td><strong><span class="amount">₦{{ total }}</span></strong>
                                                        </td>
                                                    </tr>
                                                </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <!-- checkout-area end -->
{% endblock %}