{% extends "homebase.html" %}
{% load static %}
{% block title %} Shop Cart-{% endblock %}
{% block description %} {{setting.description}} {% endblock %}
{% block keywords %} {{setting.keywords}} {% endblock %}

{% block body %}
<!-- header end -->
<div class="breadcrumb-area pt-205 pb-210" style="background-image: url({% static '' %}assets/img/bg/breadcrumb.jpg)">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li><a href="#">home</a></li>
                <li> Shop Cart</li>
            </ul>
        </div>
    </div>
</div>
{% if shopcart %}
<!-- shopping-cart-area start -->
<div class="cart-main-area pt-95 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1 class="cart-heading">Cart</h1>
                    <div class="table-content table-responsive">
                        <table>
                            <thead>
                            <tr>
                                <th>remove</th>
                                <th>images</th>
                                <th>Product</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Sub-Total</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for rs in shopcart %}
                            <tr>
                                <td class="product-remove"><a href="/order/deletefromcart/{{ rs.id }}"
                                                              onclick="return confirm('Delete ! Are You Sure You Sure You Want To Remove This Item From Cart')"><i
                                        class="pe-7s-close"></i></a></td>
                                <td class="product-thumbnail">
                                    <a>
                                        {% if rs.variant.image_id > 0 %}
                                        <img src="{{ rs.variant.image }}" width="100px" height="100px" overflow="hidden"
                                             alt=""></a>
                                    {% else %}
                                    <img src="{{ rs.product.image.url }}" width="100px" height="100px" overflow="hidden"
                                         alt=""></a>
                                    {% endif %}
                                </td>
                                <td class="product-name"><a href="/product/{{ rs.product.id }}/{{ rs.product.slug }}">{{ rs.product }} {{ rs.variant.size }} {{ rs.variant.color }}</a></td>
                                <td class="product-price-cart">
                                    {% if rs.product.variant == 'None' %}
                                    <p>₦{{ rs.product.price }}</p>
                                    {% else %}
                                    <p>₦{{ rs.variant.price }}</p>
                                    {% endif %}
                                    </span></td>
                                <td class="product-quantity">{{ rs.quantity }}</td>
                                <td class="product-subtotal">
                                    {% if rs.product.variant == 'None' %}
                                    <p>₦{{ rs.amount }}</p>
                                    {% else %}
                                    <p>₦{{ rs.varamount }}</p>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-md-5 ml-auto">
                            <div class="cart-page-total">
                                <h2>Cart totals</h2>
                                <ul>
                                    <li>Subtotal<span>₦{{ total }}</span></li>
                                    <li>Total<span>₦{{ total }}</span></li>
                                </ul>
                                <a href="/order/orderproduct">Proceed to Checkout</a>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="cart-main-area pt-95 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1 class="cart-heading">You Have No Item In Your Shopping Cart</h1>
                <form action="#">
                    <div class="table-content table-responsive">
                        <table>
                            <thead>
                            <tr>
                                <th>remove</th>
                                <th>images</th>
                                <th>Product</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Sub-Total</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr>
                                <td class="product-remove"><a
                                       class="pe-7s-close"></i></a></td>
                                <td class="product-thumbnail">
                                    <a>
                                        <img src="" width="100px" height="100px" overflow="hidden"
                                             alt=""></a>

                                    <img src="" width="100px" height="100px" overflow="hidden"
                                         alt=""></a>
                                </td>
                                <td class="product-name"><a href="/"></a></td>
                                <td class="product-price-cart"><span></span></td>
                                <td class="product-quantity"></td>
                                <td class="product-subtotal">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-md-5 ml-auto">
                            <div class="cart-page-total">
                                <h2>Cart totals</h2>
                                <ul>
                                    <li>Subtotal<span>₦0</span></li>
                                    <li>Total<span>₦0</span></li>
                                </ul>
                                <a href="/">Go Back To Shopping</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}