<div class="billing-details">
    <div class="section-title">
        <h3 class="title">User Panel</h3>
    </div>
    <div class="aside">
        <ul class="list-links">
            <li><a href="/user">User Profile</a></li>
            <li><a href="/user/order">My Order</a></li>
            <li><a href="/user/comments">My Comment</a></li>
            <li><a href="/user/favourites">My Favourites</a></li>
            <li><a href="/user/products">My Products</a></li>
            <li><a href="/logout">Log Out</a></li>
        </ul>
    </div>
</div>